{% if game is None %}
<div>
	<form action="" method="POST">
		<input type="text" name="image_url" id="image_url" size="40" value="">
		<input type="submit" value="Submit">
	</form>
</div>
{% else %}
<table border="1">
	<tr>
		<td>Name</td>
		<td>Goals</td>
		<td>Shots</td>
		<td>Hits</td>
		<td>TOA</td>
		<td>Pass %</td>
		<td>PIM</td>
		<td>PP</td>
		<td>PP Time</td>
		<td>Faceoffs</td>
		<td>Breakaways</td>
		<td>One-Timers</td>
		<td>SHG</td>
		<td>Penalty Shots</td>
		<td>ENG</td>
	</tr>
	{% for team in game['team_stats'] %}
	<tr>
		<td>team</td>
		<td>{{team[0]}}</td>
		<td>{{team[1]}}</td>
		<td>{{team[2]}}</td>
		<td>{{team[3]}}</td>
		<td>{{team[4]}}</td>
		<td>{{team[5]}}</td>
		<td>{{team[6]}}</td>
		<td>{{team[7]}}</td>
		<td>{{team[8]}}</td>
		<td>{{team[9]}}</td>
		<td>{{team[10]}}</td>
		<td>{{team[11]}}</td>
		<td>{{team[12]}}</td>
		<td>{{team[13]}}</td>
	</tr>
	{% end %}
</table>
{% end %}