{% extends "_layout.html" %}
{% block title %}Game History{% end %}

{% block content %}

<h3 align="center">Record:	{{ result['record'] }}</h3>
{% for game in result['games'] %}
<div align="center">
	<a href="http://www.easportsworld.com/en_US/clubs/401A0001/{{game['club_1_ea_id']}}"target="_blank"> <img src="{{game['club_1_logo']}}"/> </a>
	VS <a href="http://www.easportsworld.com/en_US/clubs/401A0001/{{game['club_2_ea_id']}}"target="_blank"> <img src="{{game['club_2_logo']}}"/> </a>
	<p>
		{{game['club_1_name']}} vs {{game['club_2_name']}}
	</p>
	<p>
		Date: {{game['date']}}
	</p>
	<p>
		Score: {{game['score']}}
	</p>
	<div>
		<p>
			Club 1 Rank: {{game['club_1_rank']['rank']}} {{game['club_1_rank']['division']}}
		</p>
		<p>
			Club 2 Rank: {{game['club_2_rank']['rank']}} {{game['club_2_rank']['division']}}
		</p>
		<table border="1">
			<tr>
				<td>Team 1</td>
				<td>Name</td>
				<td>Position</td>
				<td>Hits</td>
				<td>Points</td>
			</tr>
			<form name="input" action="playerhistory" method="get">
				{% for player_index, player in enumerate(game['club_1_roster']) %}
				<tr>
					<td>
					<input align="center" name="userids" type="checkbox" value="{{player['id']}}">
					</td>
					<td><a href="/playerhistory?player_id={{player['id']}}">{{ player['username'] }}</a></td>
					<td>{{ player['position'] }}</td>
					<td>{{ player['hits'] }}</td>
					<td>{{ player['points'] }}</td>
				</tr>
				{% end %}
				<tr>
					<td>Team 2</td><td></td><td></td><td></td><td></td>
				</tr>
				{% for player in game['club_2_roster'] %}
				<tr>
					<td>
					<input name="{{player['id']}}" type="checkbox" value="0">
					</td>
					<td><a href="/playerhistory?player_id={{player['id']}}">{{ player['username'] }}</a></td>
					<td>{{ player['position'] }}</td>
					<td>{{ player['hits'] }}</td>
					<td>{{ player['points'] }}</td>
				</tr>
				{% end %}
				<input type="submit" value="Compare">
			</form>
		</table>
	</div>
</div>
{% end %}
{% end %} 