{% extends "_layout.html" %}
{% block title %}Game History{% end %}

{% block content %}

<h2>Record:	{{ result['record'] }}</h4>
<br>
{% for game in result['games'] %}
<div>
	<img src="{{game['club_1_logo']}}"/> VS <img src="{{game['club_2_logo']}}"/>
	<p>
		{{game['club_1_name']}} vs {{game['club_2_name']}}
	</p>
	<p>
		Date: {{game['date']}}
	</p>
	<p>
		Score: {{game['score']}}
	</p>
	<div>
		<p>
			Club 1 Division: {{game['club_1_rank']['division']}}
		</p>
		<p>
			Club 1 Rank: {{game['club_1_rank']['rank']}}
		</p>
		<p>
			Roster
		</p>

		<table border="1">
			<tr>
				<td>Name</td>
				<td>Position</td>
				<td>Hits</td>
				<td>Points</td>
			</tr>
			{% for player in game['club_1_roster'] %}
			<tr>
				<td><a href="/playerhistory?player_id={{player['id']}}">{{ player['username'] }}</a></td>
				<td>{{ player['position'] }}</td>
				<td>{{ player['hits'] }}</td>
				<td>{{ player['points'] }}</td>
			</tr>
			{% end %}
		</table>
	</div>
	<div>
		<p>
			Club 2 Division: {{game['club_2_rank']['division']}}
		</p>
		<p>
			Club 2 Rank: {{game['club_2_rank']['rank']}}
		</p>
		<p>
			Roster
		</p>
		<table border="1">
			<tr>
				<td>Name</td>
				<td>Position</td>
				<td>Hits</td>
				<td>Points</td>
			</tr>
			{% for player in game['club_2_roster'] %}
			<tr>
				<td><a href="/playerhistory?player_id={{player['id']}}">{{ player['username'] }}</a></td>
				<td>{{ player['position'] }}</td>
				<td>{{ player['hits'] }}</td>
				<td>{{ player['points'] }}</td>
			</tr>
			{% end %}
		</table>
	</div>
</div> {% end %}
{% end %} 