{% extends "_layout.html" %}
{% block title %}Home{% end %}

{% block scripts %}
{% end %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->

<div class="hero-unit">
	<h1>EASHL Stats Hub</h1>
	<p>
		This is a handy website with various EASHL utilities.
	</p>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="span4">
		<h2>Club Search (PS3)</h2>
		<p>
			Look up clubs by abbreviation
		</p>
		<p>
			<a class="btn" href="/clubsearch">Search &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h2>Game Stats</h2>
		<p>
			Convert a screenshot of a game's stats into text (Coming Soon)
		</p>
		<p>
			<a class="btn" href="#" disabled="true">Coming Soon&raquo;</a>
		</p>
	</div>
</div>
{% end %}
