{% extends "_layout.html" %}
{% block title %}Game History{% end %}

{% block content %}
<h3>Head to Head:	{{ history['Series'] }}</h3>
{% if history['Last Game'] is not None %}
<a href="http://www.easportsworld.com/en_US/clubs/401A0001/{{history['Last Game']['club_1_ea_id']}}" target="_blank"> <img src="{{history['Last Game']['club_1_logo']}}"/> </a>VS <a href="http://www.easportsworld.com/en_US/clubs/401A0001/{{history['Last Game']['club_2_ea_id']}}" target="_blank"> <img src="{{history['Last Game']['club_2_logo']}}"/> </a>
<div>
	{{history['Last Game']['club_1_name']}}          vs           {{history['Last Game']['club_2_name']}}
	<p>
		<h1>Last Game</h1> Date: {{history['Last Game']['date']}}
	</p>
	<p>
		Score: {{history['Last Game']['score']}}
	</p>
	<p>
		Club 1 Division: {{history['Last Game']['club_1_rank']['division']}}
		Club 1 Rank: {{history['Last Game']['club_1_rank']['rank']}}
	</p>
	<p>
		Club 2 Division: {{history['Last Game']['club_2_rank']['division']}}
		Club 2 Rank: {{history['Last Game']['club_2_rank']['rank']}}
	</p>
	<table border="1">
		<tr>
			<td>Name</td>
			<td>Position</td>
			<td>Hits</td>
			<td>Points</td>

		</tr>
		{% for player in history['Last Game']['club_1_roster'] %}
		<tr>
			<td><a href="/playerhistory?player_id={{player['id']}}">{{ player['username'] }}</a></td>
			<td>{{ player['position'] }}</td>
			<td>{{ player['hits'] }}</td>
			<td>{{ player['points'] }}</td>
		</tr>
		{% end %}
		<tr>
			<td>Team 2</td><td></td><td></td><td></td>
		</tr>
		{% for player in history['Last Game']['club_2_roster'] %}
		<tr>
			<td><a href="/playerhistory?player_id={{player['id']}}">{{ player['username'] }}</a></td>
			<td>{{ player['position'] }}</td>
			<td>{{ player['hits'] }}</td>
			<td>{{ player['points'] }}</td>
		</tr>
		{% end %}
	</table>
	<br>
</div> {% end %}

{% end %}