{% extends "_layout.html" %}
{% block title %}Player game history{% end %}

{% block scripts %}
{% end %}

{% block content %}

{% for row in grouper(6, history['players']) %}
<div class="row">
	{% for player in row %}
	{% if player is not None %}
	<div class="span2">
		<a href="/setactiveplayer?player_id={{player['id']}}">Make this active player</a>
		<p>
			Last {{len(player['games'])}} games for {{player['username']}}
		</p>
		<p>
			Points per game: {{player['ppg']}}
		</p>
		<p>
			Hits per game: {{player['hpg']}}
		</p>
		<table border="1">
			<tr>
				<td>Position</td>
				<td>Hits</td>
				<td>Points</td>
			</tr>
			{% for game in player['games'] %}
			<tr>
				<td>{{ game.position }}</td>
				<td>{{ game.hits }}</td>
				<td>{{ game.points }}</td>
			</tr>
			{% end %}
		</table>
	</div>
	{% end %}
	{% end %}
</div>

{% end %}
{% end %}
