{% extends "_layout.html" %}
{% block title %}Club Search{% end %}

{% block scripts %}
{% end %}

{% block content %}
<div>
	<form id="search-form" action="" method="get" class="websearch">
		<input id="search-field" type="text" class="searcher" name="abbr" size="40"/>
		<input type="hidden" name="find[platform]" value="PS3"/>
		<input type="hidden" value="submit" name="do-search"/>
		<input type="submit" value="Search this site" />
	</form>
</div>
{% if len(results) == 0 %}
<h4>No Results Found</h4>
<br>
{{ea_url}}
<a href="{{ea_url}}">Search EA</a>
{% else %}
{% for row in grouper(6, results) %}
<div class="row">
	{% for res in row %}
	{% if res is not None %}
	<div class="span2">
		<h6 align="center">{{res['name']}}</h6>
		<p><img src="{{res['logo']}}"/>
		</p>
		<p>
			<a href="/matchuphistory?club_2_id={{res['id']}}">Matchup History </a>
		</p>
		<p>
			<a href="/matchhistory?club_id={{res['id']}}">Recent games </a>
		</p>
		<p>
			<a href="/setactiveclub?id={{res['id']}}">Make this active club</a>
		</p>
	</div>
	{% end %}
	{% end %}
</div>
{% end %}
{% end %}
{% end %}
