{% extends "_layout.html" %}
{% block title %}Club Search{% end %}

{% block scripts %}
{% end %}

{% block content %}
<div>
	<form id="search-form" action="" method="get" class="websearch">
		<input id="search-field" type="text" class="searcher" name="abbr" size="40"/>
		<input type="hidden" name="find[platform]" value="PS3"/>
		<input type="hidden" value="submit" name="do-search"/>
		<input type="submit" value="Search this site" />
	</form>
</div>
{% if len(results) == 0 %}
<h4>No Results Found</h4>
{% else %}
{% for result in results %}
<div class="span2">
	<h6 align="center">{{result['name']}}</h6>
	<p><img src="{{result['logo']}}"/>
	</p>
	<p>
		<a href="/matchuphistory?club_2_id={{result['id']}}">Matchup History </a>
	</p>
	<p>
		<a href="/matchhistory?club_id={{result['id']}}">Recent games </a>
	</p>
	<p>
		<a href="/setactiveclub?id={{result['id']}}">Make this active club</a>
	</p>
</div>
{% end %}
{% end %}
{% end %}